<div class="container" data-ng-controller="HeaderController">
	<header class="cd-main-header" >
		<a href="#0" class="cd-logo">ScrumTools.io</a>
		
		<div class="cd-search is-hidden" data-ng-if="menu.shouldRender(authentication.user);">
			<form action="#0">
				<input type="search" placeholder="Buscar...">
			</form>
		</div> <!-- cd-search -->

		<a href="#0" class="cd-nav-trigger"><span></span></a>

		<nav class="cd-nav" data-ng-if="!authentication.user">
			<ul class="cd-top-nav marg_rig_menu">
				<li class="">
					<a href="/#!/signup">Registrarse</a>
				</li>
				<li class="">
					<a href="/#!/signin">Iniciar sesión</a>
				</li>
			</ul>			
		</nav>

		<nav class="cd-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<ul class="cd-top-nav">
				<li class="has-children account">
					<a href="Javascript:void(0)">
						<i class="icon-user-circle userOption"></i>
						<!--img src="sidefiles/img/cd-avatar.png" alt="avatar"-->
						Cuenta
					</a>

					<ul>

						<li>
							<a href="/#!/settings/profile">Editar Perfil</a>
						</li>
						<li>
							<a href="/#!/settings/accounts">Cuentas sociales</a>
						</li>
						<li>
							<a href="/#!/settings/password">Cambiar Password</a>
						</li>
						<li>
							<a href="/auth/signout">Cerrar Sesión</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
</div>
	 <!-- .cd-main-header -->
<!--div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Nav</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand">ScrumTools.io</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Registrarse</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Iniciar sesión</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user" data-ng-controller="SideBarController">

			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{realClass(item)}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle visible-xs">
					<span data-ng-bind="item.title"></span>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" ng-click="EmitEventFromMenu(subitem.EventSend)" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" class="visible-xs" data-ng-bind="item.title" ng-click="EmitEventFromMenu(item.EventSend)"></a>
			</li>
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span>Perfil -> [<i class="icon-user"></i> {{authentication.user.displayName}}]</span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Editar Perfil</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Administrar cuentas sociales</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Cambiar Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Cerrar Sesión</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div-->