<section data-ng-controller="SprintslistController">


    <h3>Sprints <i class="icon-flash-electric-2"></i></h3>

    <div class="row">
        <div class="col-md-8">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="searchText.sprintName" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>

        <div class="col-md-2">
            <span ui-sref="viewProject.createSprint()" class="btn btn-success btn-lg"><i class="icon-paperplane"></i> Crear Sprint</span>
        </div>

    </div>
    </br>

    <!--table class="table col-xs-12 table-hover TblPryctos">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="sprint in sprints" ui-sref="viewProject.viewSprint.dashboard({sprintId: sprint._id})">
          <td><span><i class="icon-flash-electric-2"></i></span> {{sprint.sprintName}}</td>
        </tr>
      </tbody>
    </table-->


    <div class="list-group" id="ListSprints">
        <div class="col-xs-6 col-sm-3 extra-space" data-ng-repeat="sprint in sprints| filter:searchText">
            <span class="list-group-item" ui-sref="viewProject.viewSprint.dashboard({sprintId: sprint._id})">
                <div class="panel panel-default clickable">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <p><i class="icon-flash-electric-2"></i> {{sprint.sprintName}}</p>
                        </h3>
                    </div>
                </div>
            </span>
        </div>
    </div>


    <!--div class="list-group">
        <div class="col-xs-6 col-sm-3 extra-space" data-ng-repeat="sprint in sprints">
            <a class="list-group-item" href="" ui-sref="viewProject.viewSprint({sprintId: sprint._id})">
                <div class="panel panel-default clickable">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{sprint.sprintName}}
                            <span class="pull-right glyphicon glyphicon-tasks"></span>
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </div-->


</section>

