<section data-ng-controller="SprintslistController">


    <table class="table col-xs-12 table-hover TblPryctos">
      <h3>Sprints <i class="icon-flash-electric-2"></i></h3>
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="sprint in sprints" ui-sref="viewProject.viewSprint.dashboard({sprintId: sprint._id})">
          <td><span><i class="icon-flash-electric-2"></i></span> {{sprint.sprintName}}</td>
        </tr>
      </tbody>
    </table>



    <!--div class="list-group">
        <div class="col-xs-6 col-sm-3 extra-space" data-ng-repeat="sprint in sprints">
            <a class="list-group-item" href="" ui-sref="viewProject.viewSprint({sprintId: sprint._id})">
                <div class="panel panel-default clickable">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{sprint.sprintName}}
                            <span class="pull-right glyphicon glyphicon-tasks"></span>
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    </div-->


</section>

