<section data-ng-controller="SprintsViewController">
    <div class="sprint">
        <h3>
            <div class="sprint-meetings">
                <button href="" class="btn btn-default NmbreSprint" ng-click="editSprint('', sprint)">
                    <i class="icon-flash-electric-2"></i>
                    {{sprint.sprintName}}
                </button>
                <button href="" ui-sref=".dashboard" class="btn btn-primary">
                    <i class="icon-window-list"></i>
                    Tablero
                </button>
                <button href="" ng-click="sprintBurnDownChart('lg', sprint, stories, tasks)" class="btn btn-primary">Burndown</button>
                <button href="" data-toggle="dropdown" class="btn btn-info">Reuniones<span class="caret"></span></button>
                <ul class="dropdown-menu menu-left" role="menu">
                    <li><a href="" ui-sref=".listDailies">Diario de Scrum</a></li>
                    <li><a href="" ng-click="sprintReview('', sprint, stories)">Revisión Sprint</a></li>
                    <li><a href="" ng-click="sprintRestrospective('', sprint)">Retrospectiva Sprint</a></li>
                </ul>
            </div>
        </h3>
    </div>

    <div ui-view>
    </div>
</section>

