<section data-ng-controller="StoriesController">
    <table class="table col-xs-12 table-hover TblPryctos" id="listStries">
      <h3>Historias de usuario <i class="icon-speech-streamline-talk-user"></i></h3>

    <div class="row">
        <div class="col-md-8">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="searchText.storyTitle" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>

        <div class="col-md-2">
            <span ng-click="createStory()" class="btn btn-success btn-lg"><i class="icon-paperplane"></i> Crear Historia de Usuario</span>
        </div>
    </div>
    </br>

      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>
            <!--button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button-->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="story in stories | filter:searchText">
          <td>
            <span>
              <i class="icon-speech-streamline-talk-user"></i></span> 
              <span>{{story.storyTitle}}</span>
            <!--input ng-model="story.storyTitle" ng-change="updateStory(story)" type="text" class="sinBordes" -->
          </td>
          <td style="padding-top: 24px;">
            <span>{{story.storyDescription}}</span>
            <!--input ng-model="story.storyDescription" ng-change="updateStory(story)" type="text" class="sinBordes" -->
          </td>
          <td style="padding-top: 22px;">
            <button type="button" class="btn btn-default btn-xs" ng-click="editStory('', story)"><span class="btn-xs glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteStory(story)"><span class="btn-xs glyphicon glyphicon-trash"></span></button>
            <button type="button" class="btn btn-primary btn-xs" ng-click="moveToSprint('sm',story)"><span class="btn-xs glyphicon glyphicon-share-alt"></span></button>
          </td>
        </tr>
      </tbody>
    </table>

    <!--div class="containment-wrapper">
        <!--button ng-click="createStory()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span></button>

        <div sticky-note ng-repeat="story in stories" story="story" class="alert sticky-note">
            <button type="button" class="close" ng-click="deleteStory(story)"><span class="btn-xs glyphicon glyphicon-trash"></span></button>
            <button type="button" class="close" ng-click="moveToSprint('sm',story)"><span class="btn-xs glyphicon glyphicon-share-alt"></span></button>
            <input ng-model="story.storyTitle" ng-change="updateStory(story)" type="text" class="title" >
            <button type="button" class="close" ng-click="editStory('', story)"><span class="btn-xs glyphicon glyphicon-pencil"></span></button>
            <textarea ng-model="story.storyDescription" ng-change="updateStory(story)" class="body"></textarea>
        </div>

    </div-->
</section>