<div class="modal-header">
    <h3 class="modal-title">Mover a Sprint</h3>
</div>

<div class="modal-body">
    <ul class="nav nav-list">
        <div data-ng-repeat="sprint in sprints">
            <li>
                <a href="" ng-click="move(sprint)">
                    <h4 class="text-left">
                        <i class="icon-flash-electric-2"></i>
                        {{sprint.sprintName}}
                    </h4>
                </a>
            </li>
        </div>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cancel()">Cerrar</button>
</div>