<section data-ng-controller="EscritorioController">

	<div class="clearfix"></div>
	<hr class="dashed">

	<div class="col-md-12">
		<h2><a href="http://104.197.8.254/" target="_blank"> <i class="icon-terminal"></i> IDE</a></h2>
		<div class="timeline">
			<dl>
				<dt>Apr 2014</dt>
				<dd class="pos-right clearfix">
					<div class="circ"></div>
					<div class="time">Apr 14</div>
					<div class="events">
						<div class="pull-left">
							<img class="events-object img-rounded" src="http://bootflat.github.io/img/photo-1.jpg">
						</div>
						<div class="events-body">
							<h4 class="events-heading">Bootstrap</h4>
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
						</div>
					</div>
				</dd>
				<dd class="pos-left clearfix">
					<div class="circ"></div>
					<div class="time">Apr 10</div>
					<div class="events">
						<div class="pull-left">
							<img class="events-object img-rounded" src="http://bootflat.github.io/img/photo-2.jpg">
						</div>
						<div class="events-body">
							<h4 class="events-heading">Bootflat</h4>
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
						</div>
					</div>
				</dd>
				<dt>Mar 2014</dt>
				<dd class="pos-right clearfix">
					<div class="circ"></div>
					<div class="time">Mar 15</div>
					<div class="events">
						<div class="pull-left">
							<img class="events-object img-rounded" src="http://bootflat.github.io/img/photo-3.jpg">
						</div>
						<div class="events-body">
							<h4 class="events-heading">Flat UI</h4>
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
						</div>
					</div>
				</dd>
				<dd class="pos-left clearfix">
					<div class="circ"></div>
					<div class="time">Mar 8</div>
					<div class="events">
						<div class="pull-left">
							<img class="events-object img-rounded" src="http://bootflat.github.io/img/photo-4.jpg">
						</div>
						<div class="events-body">
							<h4 class="events-heading">UI design</h4>
							<p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
						</div>
					</div>
				</dd>
			</dl>
		</div>
	</div>

	<div class="clearfix"></div>
	<hr class="dashed">

	<div class="col-md-12">
		<ul class="media-list">
			<li class="media">
				<a class="pull-left" href="#">
					<img class="media-object img-rounded" src="http://bootflat.github.io/img/photo-1.jpg">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					<p>12 Apr, 2013 at 12:00</p>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object img-rounded" src="http://bootflat.github.io/img/photo-2.jpg">
						</a>
						<div class="media-body">
							<h4 class="media-heading">Nested media heading</h4>
							<p>12 Apr, 2013 at 12:10</p>
							<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object img-rounded" src="http://bootflat.github.io/img/photo-3.jpg">
								</a>
								<div class="media-body">
									<h4 class="media-heading">Nested media heading</h4>
									<p>12 Apr, 2013 at 12:20</p>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object img-rounded" src="http://bootflat.github.io/img/photo-2.jpg">
						</a>
						<div class="media-body">
							<h4 class="media-heading">Nested media heading</h4>
							<p>12 Apr, 2013 at 12:30</p>
							<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
						</div>
					</div>
				</div>
			</li>
			<li class="media">
				<a class="pull-right" href="#">
					<img class="media-object img-rounded" src="http://bootflat.github.io/img/photo-4.jpg">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					<p>12 Apr, 2013 at 12:50</p>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
				</div>
			</li>
		</ul>
	</div>



	<div class="clearfix"></div>
	<hr class="dashed">


<div ng-controller="DatepickerDemoCtrl">
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    </div>

    <h4>Popup</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
        </div>
    </div>

    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
</div>

	
	<div class="clearfix"></div>
	<hr class="dashed">
</section>