.proj-list {
    font-size: 100px;
}

.extra-space {
    padding-bottom: 15px;
    padding-top: 15px;
}

.project-name {
    padding-left: 15px;
}

.nav-menu {
    min-height: 729px;
}

.wrapper {
    margin-left: -15px;
}

.TblPryctos tbody tr:hover{
	cursor: pointer;
}

.IconModulo{
    text-align: center;
    display: block;
}

.IconModulo i{
    font-size: 13em;
}

/*.TblPryctos tbody tr{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}*/