.proj-list {
    font-size: 100px;
}

.extra-space {
    padding-bottom: 5px;
    padding-top: 5px;
}

.project-name {
    padding-left: 15px;
}

.nav-menu {
    min-height: 729px;
}

.wrapper {
    margin-left: -15px;
}

.TblPryctos tbody tr:hover{
	cursor: pointer;
}

.IconModulo{
    text-align: center;
    display: block;
}

.IconModulo i{
    font-size: 13em;
    line-height: .5em;
}

#ListProjects h3{
    text-align: center;
}


#ListProjects .icon-repo{
    position: relative;
    top: 8px;
    font-size: 75px;
}

#ListProjects .panel-heading:hover{
    cursor: pointer;
}

.iconosProyecto{
    position: relative;
    top: 12px;
}

.iconosProyecto i{
    position: relative;
    left: 2px;
}

.iconosProyecto a{
    position: relative;
    left: 12px;
}

/*.TblPryctos tbody tr{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}*/