<h3>Panel principal</h3>
<hr>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <span class="IconModulo">
        <i class="icon-speech-streamline-talk-user"></i>
      </span>
      <div class="caption">
        <h3>Hsitorias de Usuario</h3>
        <p>Administre las historias de usuario del proyecto <strong>{{project.projectName}}</strong></p>
        <p>
          <a data-ng-href="#!/projects/{{project._id}}/stories" class="btn btn-primary" role="button">Administrar</a> 
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <span class="IconModulo">
        <i class="icon-flash-electric-2"></i>
      </span>
      <div class="caption">
        <h3>Sprints</h3>
        <p>Administre los sprints del proyecto <strong>{{project.projectName}}</strong></p>
        <p><a data-ng-href="#!/projects/{{project._id}}/sprints" class="btn btn-primary" role="button">listar</a> 
            <a data-ng-href="#!/projects/{{project._id}}/createSprint" class="btn btn-default" role="button">Crear</a></p>
      </div>
    </div>
  </div>

</div>