<section data-ng-controller="ProjectsCrUpController">

    <div class="modal-header">
        <h3 class="modal-title"><div class="projectName">{{project.projectName}}</div></h3>
    </div>

    <div class="modal-body">
        <form name="updateProjectForm">
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div data-ng-show="error" class="text-center text-danger">
                                <div class="alert alert-danger" role="alert">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="projectName">Titulo</label>
                            <div class="controls">
                                <input name="projectName" type="text" data-ng-model="project.projectName" id="projectName" class="form-control" placeholder="Titulo" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="descriptionName">Descripción</label>
                            <div class="controls">
                                <textarea name="descriptionName" data-ng-model="project.descriptionName" id="descriptionName" class="form-control" cols="30" rows="10" placeholder="Descripción"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="startTime">Inicio de tiempo</label>
                            <p class="input-group">
                                <input name="startTime" type="text" id="startTime" class="form-control" datepicker-popup="{{format}}" data-ng-model="project.startTime" is-open="openedStartDT" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openStartDT($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="endTime">Fin de tiempo</label>
                            <p class="input-group">
                                <input name="endTime" type="text" id="endTime" class="form-control" datepicker-popup="{{format}}" data-ng-model="project.endTime" is-open="openedEndDT" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openEndDT($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="update(project); ok()" ng-disabled="updateProjectForm.$invalid">Actualizar</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
    </div>
</section>
