
<section data-ng-controller="ProjectsController">
    <div class="page-header">
        <h3>Proyectos</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    </br>

    <table class="table col-xs-12 table-hover TblPryctos" data-ng-if="projects.$resolved && projects.length">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="project in projects | filter:searchText" ng-click="goToProject(project._id)">
          <td><span><i class="icon-repo"></i></span> {{project.projectName}}</td>
        </tr>
      </tbody>
    </table>
    <div class="clearfix"></div>
    <div class="alert alert-warning text-center" data-ng-if="projects.$resolved && !projects.length">
        No hay proyectos, por que no crear uno? <a href="/#!/projects/create">Crear uno</a>?
    </div>
</section>