
<section data-ng-controller="ProjectsController">
    <div class="page-header">
        <h2><i class="icon-repo"></i> Proyectos</h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="searchText.projectName" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>

        <div class="col-md-2">
            <a href="#!/projects/create" class="btn btn-success btn-lg"><i class="icon-paperplane"></i> Crear Proyecto</a>
        </div>
    </div>
    </br>

<!--     <table class="table col-xs-12 table-hover TblPryctos" data-ng-if="projects.$resolved && projects.length">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="project in projects | filter:searchText" ng-click="goToProject(project._id)">
          <td><span><i class="icon-repo"></i></span> {{project.projectName}}</td>
        </tr>
      </tbody>
    </table> -->

    <!--div class="list-group" id="ListProjects">
        <div class="col-xs-6 col-sm-3 extra-space" data-ng-repeat="project in projects | filter:searchText">
            <span class="list-group-item" ng-click="goToProject(project._id)">
                <div class="panel panel-default clickable">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <p><i class="icon-repo"></i> {{project.projectName}}</p>
                        </h3>
                    </div>
                </div>
            </span>
        </div>
    </div-->


    <div class="row" id="ListProjects">
      <div class="col-sm-6 col-md-3" data-ng-repeat="project in projects | filter:searchText">
        <div class="thumbnail">
          <div class="caption">
            <h3><i class="icon-repo"></i> {{project.projectName}}</h3>
            <p>
                <a href="#" class="btn btn-primary" role="button" ng-click="goToProject(project._id)"><i class="icon-arrow-up"></i> Examinar</a> 
                <button type="button" class="btn btn-default" ng-click="modal('', project)"><span class="btn-xs glyphicon glyphicon-pencil"></span></button>
                <a href="#" class="btn btn-danger disabled" role="button"><i class="icon-trashcan"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>



    <div class="clearfix"></div>
    <div class="alert alert-warning text-center" data-ng-if="projects.$resolved && !projects.length">
        No hay proyectos, por que no crear uno? <a href="/#!/projects/create">Crear uno</a>?
    </div>
</section>