<section data-ng-controller="MembersController">
    <div class="modal-header">
        <h2 class="modal-title">Miembros</h2>
    </div>

    <div class="modal-body">
        <ul class="nav nav-list">
            <div data-ng-repeat="user in users">
                <li>
                    <a href="">
                        <h3 class="text-left">
                            <i class="icon-contacts-social"></i>
                            {{user.displayName}} - ( {{user.username}} )
                        </h3>
                    </a>
                </li>
            </div>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()">Cerrar</button>
    </div>
</section>