<section data-ng-controller="MembersController">    
    <table class="table col-xs-12 table-hover TblPryctos" id="listStries">
      <h3>Miembros <i class="icon-contacts-social"></i></h3>

    <div class="row">
        <div class="col-md-8" ng-show="users.length">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>

        <div class="col-md-2" ng-show="stories.length">
            <span ng-click="createStory()" class="btn btn-success btn-lg"><i class="icon-paperplane"></i> Crear Historia de Usuario</span>
        </div>
    </div>
    </br>

      <thead>
        <tr>
          <th>Nombre</th>
          <th>Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users | filter:searchText">
          <td>
            <span>
              <i class="icon-speech-streamline-talk-user"></i></span> 
              <span>{{user.displayName}}</span>
            <!--input ng-model="story.storyTitle" ng-change="updateStory(story)" type="text" class="sinBordes" -->
          </td>
          <td style="padding-top: 24px;">
            <span>{{user.username}}</span>
            <!--input ng-model="story.storyDescription" ng-change="updateStory(story)" type="text" class="sinBordes" -->
          </td>
        </tr>    
      </tbody>
    </table>    
    
    
    
</section>